<section class="flex flex-col justify-center items-center">
  <div class="flex flex-col w-full">
    <div
      class="flex justify-center items-center space-x-3 py-3 border-b border-gray-200"
    >
      <img src="assets/images/logo.png" alt="logo" class="w-[100px]" />
      <span class="text-3xl font-semibold"
        >Holy Spirit Zion Theology Center</span
      >
    </div>
  </div>

  <div class="flex flex-col justify-center min-w-[980px] mx-auto py-5">
    <h1 class="my-2 flex mx-auto font-bold">Registration Form</h1>
    <div class="rounded-md px-4 py-10">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-10">
        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Full Name</label>
            <input
              type="text"
              placeholder="Enter your full name"
              formControlName="name"
              class="form-input border p-3 w-full"
            />
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Age</label>
            <input
              type="text"
              placeholder="Enter your age"
              class="form-input border p-3"
              formControlName="age"
            />
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Date of Birth</label>
            <input
              type="date"
              placeholder="dd-mm-yyyy"
              class="form-input border p-3 w-full"
              formControlName="dob"
            />
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Religion</label>
            <div class="flex items-center space-x-3 h-[52px] px-3 w-full">
              <div class="flex items-center space-x-2">

                <label>
                  <input type="radio" formControlName="religion" class="w-3 h-3" value="Christian"> Christian
                </label>
            
              </div>

              <div class="flex items-center space-x-2">
        
                <label>
                  <input type="radio" formControlName="religion" value="Non-Christian"> Non-Christian
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Phone Number</label>
            <input
              type="text"
              placeholder="Enter your Phone Number"
              class="form-input border p-3 w-full"
              formControlName="phone"
            />
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Email</label>
            <input
              type="email"
              placeholder="Enter your Email"
              class="form-input border p-3"
              formControlName="email"
            />
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Years of Faith</label>
            <input
              type="text"
              placeholder="Enter your Years of Faith(No. of Years)"
              class="form-input border p-3 w-full"
              formControlName="faith"
            />
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Occupation</label>
            <input
              type="text"
              placeholder="Enter your Occupation"
              class="form-input border p-3"
              formControlName="occupation"
            />
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Gender</label>
            <div class="flex items-center space-x-3 h-[52px] px-3 w-full">
              <div class="flex items-center space-x-2">
                
                <label>
                  <input type="radio" formControlName="gender" class="w-3 h-3" value="Male"> Male
                </label>
               
              </div>

              <div class="flex items-center space-x-2">
                <label>
                  <input type="radio" formControlName="gender" class="w-3 h-3" value="Female"> Female
                </label>
               
              </div>
            </div>
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Marital Status</label>
            <div class="flex items-center space-x-3 h-[52px] px-3 w-full">
              <div class="flex items-center space-x-2">
                
                <label>
                  <input type="radio" formControlName="marital" class="w-3 h-3" value="Married"> Married
                </label>
              </div>

              <div class="flex items-center space-x-2">
                <label>
                  <input type="radio" formControlName="marital" class="w-3 h-3" value="Unmarried/Single"> Unmarried/Single
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="language">Select Language</label>
            <!-- <select id="language" class="form-select border p-3 w-full">
              <option value="English">English</option>
              <option value="Tamil">Tamil</option>
              <option value="Hindi">Hindi</option>
              <option value="Telugu">Telugu</option>
            </select> -->
            
            <select id="language" name="language" autocomplete="language-name" formControlName="language" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
              <option value="English">English</option>
              <option value="Tamil">Tamil</option>
              <option value="Hindi">Hindi</option>
              <option value="Telugu">Telugu</option>
            </select>
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2">
            <label for="">Why did you apply for this Course?</label>
            <input
              type="text"
              placeholder="Your answer"
              class="form-input border p-3 w-[972px]"
              formControlName="whyApply"
            />          
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2">
            <label for="">Who sent you the registration link?</label>
            <input
              type="text"
              placeholder="Your answer"
              class="form-input border p-3 w-[972px]"
              formControlName="linkFrom"
            />          
          </div>
        </div>

        <div class="flex flex-col space-y-2 w-full">
          <label class="w-1/2" for="">Are you studying the online Bible class with us already?</label>
          <div class="flex items-center space-x-3 h-[52px] px-3 w-1/2">
            <div class="flex items-center space-x-2">
              <label>
                <input type="radio" formControlName="studying" class="w-3 h-3" value="Yes"> Yes
              </label>
            </div>
            <div class="flex items-center space-x-2">
              <label>
                <input type="radio" formControlName="studying" class="w-3 h-3" value="No"> No
              </label>
            </div>
          </div>
        </div>
        
        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Password</label>
            <input
              type="password"
              placeholder="Enter your Password"
              class="form-input border p-3 w-full"
              formControlName="password"
            />
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Confirm Password</label>
            <input
              type="password"
              placeholder="Enter your Confirm Password"
              class="form-input border p-3"
              formControlName="confirmPassword"
            />
          </div>
        </div>

        <div class="flex justify-end w-full">
          <button type="submit" class="bg-golden-500 rounded-md px-3 py-2">Submit</button>
        </div>

      </form>
    </div>
  </div>
</section>
