<section class="flex flex-col justify-center items-center bg-gray-100 pb-5">
  <div class="flex flex-col w-full">
    <div
      class="flex justify-center items-center space-x-3 py-3 border-b border-gray-200"
    >
      <img src="assets/images/logo.png" alt="logo" class="w-[100px]" />
      <span class="text-3xl font-semibold"
        >Holy Spirit Zion Theology Center</span
      >
    </div>
  </div>

  <!-- <div class="py-3 mt-5">
    <app-video-player src=""></app-video-player>
  </div> -->

  <div class="flex flex-col justify-center min-w-[980px] mx-auto px-3 py-4 bg-white rounded-lg shadow-lg mt-5">
    <h1 class="my-2 flex mx-auto font-bold">Registration Form</h1>
    <div class=" px-4 py-10">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-10 ">
        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Full Name</label>
            <input
              type="text"
              placeholder="Enter your full name"
              formControlName="name"
              class="form-input rounded-md border p-3 w-full"
              [ngClass]="{'border-red-500': myForm.get('name')?.hasError('required') && myForm.get('name')?.touched}"
            />
            <div *ngIf="myForm.get('name')?.hasError('required') && myForm.get('name')?.touched" class="text-sm text-red-500">
              Name is required.
            </div>
          </div>

          <!-- <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Age</label>
            <input
              type="text"
              placeholder="Enter your age"
              class="form-input rounded-md  border p-3"
              formControlName="age"
              [ngClass]="{'border-red-500': myForm.get('age')?.hasError('required') && myForm.get('age')?.touched}"
            />
            <div *ngIf="myForm.get('age')?.hasError('required') && myForm.get('age')?.touched" class="text-sm text-red-500">
              Age is required.
            </div>
          </div> -->
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Date of Birth</label>
            <input
              type="date"
              placeholder="dd-mm-yyyy"
              class="form-input rounded-md border p-3 w-full"
              formControlName="dob"
              [ngClass]="{'border-red-500': myForm.get('dob')?.hasError('dobFormatValidator')  && myForm.get('dob')?.touched}"
            />
            <!-- Display if date format is incorrect -->
            <div *ngIf="myForm.get('dob')?.hasError('passwordStrength') && myForm.get('dob')?.touched" class="text-sm text-red-500">
              Password must contain at least one uppercase letter, one lowercase letter, and one numeric digit.
            </div>
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Religion</label>
            <div class="flex items-center space-x-3 h-[52px] px-3 w-full">
              <div class="flex items-center space-x-2">
                <label for="religion1">
                  <input type="radio" id="religion1" formControlName="religion" class="w-3 h-3" value="Christian"> Christian
                </label>
              </div>

              <div class="flex items-center space-x-2">
                <label for="religion2">
                  <input type="radio" id="religion2" formControlName="religion" value="Non-Christian"> Non-Christian
                </label>
              </div>
            </div>
            <div *ngIf="myForm.get('religion')?.hasError('required') && myForm.get('religion')?.touched" class="text-sm text-red-500">
              Religion is required.
            </div>
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Phone Number</label>
            <input
              type="text"
              placeholder="Enter your Phone Number"
              class="form-input  rounded-md border p-3 w-full"
              formControlName="phone"
              [ngClass]="{'border-red-500': myForm.get('phone')?.hasError('required') && myForm.get('phone')?.touched}"
            />
            <div *ngIf="myForm.get('phone')?.hasError('required') && myForm.get('phone')?.touched" class="text-sm text-red-500">
              Phone is required.
            </div>
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Email</label>
            <input
              type="email"
              placeholder="Enter your Email"
              class="form-input rounded-md  border p-3"
              formControlName="email"
              [ngClass]="{'border-red-500': myForm.get('email')?.hasError('required') && myForm.get('email')?.touched}"
            />
            <div *ngIf="myForm.get('email')?.hasError('required') && myForm.get('email')?.touched" class="text-sm text-red-500">
              Email is required.
            </div>
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Years of Faith</label>
            <input
              type="text"
              placeholder="Enter your Years of Faith(No. of Years)"
              class="form-input rounded-md  border p-3 w-full"
              formControlName="faith"
              [ngClass]="{'border-red-500': myForm.get('faith')?.hasError('required') && myForm.get('faith')?.touched}"
            />
            <div *ngIf="myForm.get('faith')?.hasError('required') && myForm.get('faith')?.touched" class="text-sm text-red-500">
              Faith is required.
            </div>
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Occupation</label>
            <input
              type="text"
              placeholder="Enter your Occupation"
              class="form-input rounded-md  border p-3"
              formControlName="occupation"
              [ngClass]="{'border-red-500': myForm.get('occupation')?.hasError('required') && myForm.get('occupation')?.touched}"
            />
            <div *ngIf="myForm.get('occupation')?.hasError('required') && myForm.get('occupation')?.touched" class="text-sm text-red-500">
              Occupation is required.
            </div>
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Gender</label>
            <div class="flex items-center space-x-3 h-[52px] px-3 w-full">
              <div class="flex items-center space-x-2">
                
                <label for="gender1">
                  <input type="radio" id="gender1" formControlName="gender" class="w-3 h-3" value="Male"> Male
                </label>
               
              </div>

              <div class="flex items-center space-x-2">
                <label for="gender2">
                  <input type="radio" id="gender2" formControlName="gender" class="w-3 h-3" value="Female"> Female
                </label>
               
              </div>
            </div>
            <div *ngIf="myForm.get('gender')?.hasError('required') && myForm.get('gender')?.touched" class="text-sm text-red-500">
              Gender is required.
            </div>
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Marital Status</label>
            <div class="flex items-center space-x-3 h-[52px] px-3 w-full">
              <div class="flex items-center space-x-2">
                <label for="marital1">
                  <input type="radio" id="marital1" formControlName="marital" class="w-3 h-3" value="Married"> Married
                </label>
              </div>

              <div class="flex items-center space-x-2">
                <label for="marital2">
                  <input type="radio" id="marital2" formControlName="marital" class="w-3 h-3" value="Unmarried/Single"> Unmarried/Single
                </label>
              </div>
            </div>
            <div *ngIf="myForm.get('marital')?.hasError('required') && myForm.get('marital')?.touched" class="text-sm text-red-500">
              Marital is required.
            </div>
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="language">Select Language</label>            
            <select id="language" name="language" autocomplete="language-name" formControlName="language" class="block w-full rounded-md border-0 py-2.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
              <option value="English">English</option>
              <option value="Tamil">Tamil</option>
              <option value="Hindi">Hindi</option>
              <option value="Telugu">Telugu</option>
            </select>
          </div>

          <!-- <div class="flex flex-col space-y-2 w-1/2">
            <label for="networker">Networker</label>
            <input
              type="text"
              placeholder="Enter the name of the person who sent you this link"
              class="form-input rounded-md  border p-3 w-full"
              formControlName="networker"
              [ngClass]="{'border-red-500': myForm.get('networker')?.hasError('required') && myForm.get('networker')?.touched}"
            />
            <div *ngIf="myForm.get('networker')?.hasError('required') && myForm.get('networker')?.touched" class="text-sm text-red-500">
              Networker is required.
            </div>
          </div> -->
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2">
            <label for="whyApply">Why did you apply for this Course?</label>
            <input
              type="text"
              placeholder="Your answer"
              class="form-input rounded-md  border p-3 w-[972px]"
              formControlName="whyApply"
              [ngClass]="{'border-red-500': myForm.get('whyApply')?.hasError('required') && myForm.get('whyApply')?.touched}"
            /> 
            <div *ngIf="myForm.get('whyApply')?.hasError('required') && myForm.get('whyApply')?.touched" class="text-sm text-red-500">
              This is required.
            </div>         
          </div>
        </div>

        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2">
            <label for="linkFrom">Who sent you the registration link?</label>
            <input
              type="text"
              placeholder="Your answer"
              class="form-input rounded-md  border p-3 w-[972px]"
              formControlName="linkFrom"
              [ngClass]="{'border-red-500': myForm.get('linkFrom')?.hasError('required') && myForm.get('linkFrom')?.touched}"
            />
            <div *ngIf="myForm.get('linkFrom')?.hasError('required') && myForm.get('linkFrom')?.touched" class="text-sm text-red-500">
              This is required.
            </div>             
          </div>
        </div>

        <div class="flex flex-col space-y-2 w-full">
          <label class="w-1/2" for="">Are you studying the online Bible class with us already?</label>
          <div class="flex items-center space-x-3 h-[52px] px-3 w-1/2">
            <div class="flex items-center space-x-2">
              <label for="studying1">
                <input type="radio" id="studying1" formControlName="studying" class="w-3 h-3" value="Yes"> Yes
              </label>
            </div>
            <div class="flex items-center space-x-2">
              <label for="studying2">
                <input type="radio" id="studying2" formControlName="studying" class="w-3 h-3" value="No"> No
              </label>
            </div>
          </div>
          
          <div *ngIf="myForm.get('studying')?.hasError('required') && myForm.get('studying')?.touched" class="text-sm text-red-500">
            This is required.
          </div>   
        </div>
        
        <div class="flex w-full justify-between space-x-5">
          <div class="flex flex-col space-y-2 w-1/2">
            <label for="">Password</label>
            <input
              type="password"
              placeholder="Enter your Password"
              class="form-input rounded-md  border p-3 w-full"
              formControlName="password"
              [ngClass]="{'border-red-500': myForm.get('password')?.hasError('required') && myForm.get('password')?.touched}"
            />
            <div *ngIf="myForm.get('password')?.hasError('required') && myForm.get('password')?.touched" class="text-sm text-red-500">
              Password is required.
            </div>  
            <!-- Display password strength error message -->
            <div *ngIf="myForm.get('password')?.hasError('passwordStrength')" class="text-sm text-red-500">
              Password must contain at least one uppercase letter, one lowercase letter, and one numeric digit.
            </div>
          </div>

          <div class="flex flex-col space-y-2 w-1/2">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              placeholder="Enter your Confirm Password"
              class="form-input rounded-md  border p-3"
              formControlName="confirmPassword"
             
            />
             
            <!-- Display password match error message -->
            <div *ngIf="myForm.hasError('passwordMismatch') && myForm.get('confirmPassword')?.touched" class="text-sm text-red-500">
              Passwords do not match.
            </div>
          </div>
          
        </div>

        <div *ngIf=" myForm.invalid && myForm.get('confirmPassword')?.dirty" class="text-sm text-red-500">
          Please check if all entries are correct.
        </div>

        <mat-checkbox (change)="openTermsDialog()">I agree to the terms and conditions.</mat-checkbox>

        <div class="flex justify-end w-full">
          <button type="submit" class="bg-golden-500 rounded-md px-3 py-2 disabled:opacity-50 disabled:cursor-not-allowed" [disabled]="myForm.invalid">Submit</button>
        </div>

      </form>
    </div>
  </div>
</section>
