<p>edit-lesson works!</p>
<div id="edit-lesson" class="container mx-auto">
    <div class="flex w-full items-center justify-between">
        <span class="font-semibold text-lg">Edit/Update Lesson</span>
        <!-- <mat-form-field [appearance]="appearance">
          <mat-label>Search User</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field> -->
    </div>

    <!-- <table mat-table [dataSource]="dataSource" matSort>

    </table> -->
</div>