<h2 mat-dialog-title class="font-semibold">User Details</h2>
<form
  [formGroup]="myUserForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col space-y-10"
>
  <mat-dialog-content class="mat-typography">
    <section class="flex flex-col mx-auto w-[60vw]">
      <div class="flex w-full space-x-6">
        <div class="w-1/2 rounded-md px-4 py-5 bg-gray-200">
          <div class="flex justify-between">
            <h4 class="text-black pb-1 border-b border-b-gray-300">Main Information</h4>
            <div class="text-red-500 focus:outline-none cursor-pointer" (click)="editDetails()">Edit Mode: {{!editMode() ? 'ON' : 'OFF'}}</div>
          </div>
          <div class="flex flex-col space-y-5 mt-4">
            <div class="flex justify-between">
              <label for="name">Name:</label>
              <input type="text" formControlName="name" class="ring-none bg-gray-200 focus:outline-none" [readOnly]="editMode()">
            </div>
  
            <div class="flex justify-between">
              <label for="email">Email:</label>
              <input type="text" formControlName="email" class="ring-none bg-gray-200 focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="instructor">Instructor:</label>
              <input type="text" formControlName="instructor" class="ring-none bg-gray-200 focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="networker">Networker:</label>
              <input type="text" formControlName="networker" class="ring-none bg-gray-200 focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="classId">Class ID:</label>
              <input type="text" formControlName="classId" class="ring-none bg-gray-200 focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="language">Language:</label>
              <input type="text" formControlName="language" class="ring-none bg-gray-200 focus:outline-none" [readOnly]="editMode()">
            </div>
          </div>
          
        </div>
        <div class="w-1/2">
          <h4 class="text-black py-1 border-b border-b-gray-300">Other Information</h4>
          <div class="flex flex-col space-y-2 mt-4">
            <div class="flex justify-between">
              <label for="age">Age:</label>
              <input type="text" formControlName="age" class="ring-none focus:outline-none" [readOnly]="editMode()">
            </div>
            <div class="flex justify-between">
              <label for="phone">Phone:</label>
              <input type="text" formControlName="phone" class="ring-none focus:outline-none" [readOnly]="editMode()">
            </div>
            <div class="flex justify-between">
              <label for="dob">Date of Birth:</label>
              <input type="text" formControlName="dob" class="ring-none focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="gender">Gender:</label>
              <input type="text" formControlName="gender" class="ring-none focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="marital">Marital Status:</label>
              <input type="text" formControlName="marital" class="ring-none focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="occupation">Occupation</label>
              <input type="text" formControlName="occupation" class="ring-none focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="religion">Religion:</label>
              <input type="text" formControlName="religion" class="ring-none focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="studying">Status:</label>
              <input type="text" formControlName="studying" class="ring-none focus:outline-none" [readOnly]="editMode()">
            </div>

            <div class="flex justify-between">
              <label for="whyApply">Reason to Regsiter:</label>
              <input type="text" formControlName="whyApply" class="ring-none focus:outline-none" [readOnly]="editMode()">
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="true"
      type="submit"
      class="mdc-button-submit"
      [disabled]="myUserForm.invalid"
    >
      Update
    </button>
  </mat-dialog-actions>
</form>
