<section class="flex w-screen h-screen">
    <div class="flex h-screen bg-gray-100 overflow-hidden">
        <app-sidebar [isOpen]="isSidebarOpen" (closeSidebar)="closeSidebar()"> </app-sidebar>
    </div>
    <!-- Main Content Area -->
    <div class="flex-1 flex flex-col overflow-hidden">
        <!-- Navbar -->
        <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>

        <!-- Page Content -->
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50">
            <router-outlet></router-outlet>
        </main>
    </div>
</section>
