.custom-header {
    background-color: #4CAF50; /* Add your preferred background color */
    color: white; /* Add your preferred text color */
    font-weight: bold; /* Add any additional styling as needed */
  }


  tr.mat-mdc-header-row{
    @apply bg-gray-200;
  }

  tr.mat-mdc-row{
    height: 40px;
    background-color: white;
  }

  .mat-column-progress{
    text-align: center;
  }

  .cdk-cell.mat-column-action{
    @apply text-blue-700;
    @apply cursor-pointer;
    @apply hover:opacity-80;
    @apply hover:bg-gray-100
  }

  main{
    height: calc(100vh - 80px);
    overflow-y: auto;
}
