<main class="bg-gray-100 flex">
    <section class="flex flex-col w-full py-8 px-[10%] space-y-5">
        <div class="px-5 border-b ">
            <h1>Lessons</h1>
        </div>
        <div class="flex flex-col space-y-2 px-3 py-5 w-full">

            <div class="flex items-center text-2xl text-white font-medium px-8 py-3 w-full rounded-md bg-golden-600">BB Lessons</div>
        
            <ng-container *ngFor="let lessons of bbLessons; let last = last">
             
                <div class="flex justify-between px-4 py-3 rounded-sm cursor-pointer" 
                [ngClass]="{ 'border-b' : !last}" 
                [routerLink]="['/lesson/bb',lessons.name]"  
                (click)="selectLesson(lessons.id)" 
                >
                    <span class=" ">{{lessons.name}}</span>
                    <div class="flex space-x-3 items-center">
                        
                        <!-- <span class="uppercase font-medium text-gray-400 hover:text-golden-600">{{lessons}}</span> -->
                        <span class="bg-gray-300 px-4 py-1 rounded-md">{{lessons.progress}}%</span>
                    </div>
                </div>
            </ng-container>

            <div class="flex items-center text-2xl text-white font-medium px-8 py-3 w-full rounded-md bg-golden-600 opacity-50">Introductory Lessons</div>
            <div class="flex items-center text-2xl text-white font-medium px-8 py-3 w-full rounded-md bg-golden-600 opacity-50">Intermediate Lessons</div>
            <div class="flex items-center text-2xl text-white font-medium px-8 py-3 w-full rounded-md bg-golden-600 opacity-50">Advanced Lessons</div>

        </div>
    </section>
</main>
