<aside class="flex h-[100dvh] lg:h-screen flex-col items-center space-y-6 w-72 overflow-hidden bg-gray-200 border-r border-gray-300 px-3 py-4">
    <div class="flex items-center justify-start w-full px-4 py-6 border-b border-gray-300">
        <div class="flex items-center space-x-4 cursor-pointer" [routerLink]="['/home']">
            <img class="h-12 w-12 object-contain rounded-lg" src="assets/images/IBA-logo.png" alt="IBA logo" />
            <div class="flex flex-col">
                <span class="text-lg font-bold text-gray-800">International</span>
                <span class="text-lg font-bold text-gray-800">Bible Academy</span>
            </div>
        </div>
    </div>

    <div class="flex flex-col justify-start items-center w-full h-full px-5 py-10">
        <!-- <h3 class="uppercase text-gray-300 text-md font-semibold pb-5 pl-2">Menu</h3> -->
        <ul class="flex flex-col w-full space-y-3">
            <li class="group w-full">
                <a routerLink="/home" routerLinkActive="bg-gray-300" class="flex items-center px-4 py-3 space-x-3 rounded-lg transition-all duration-200 hover:bg-gray-300">
                    <span class="p-2 rounded-md">
                        <img src="../../../assets/icons/book.svg" alt="lessons" class="invert w-5 h-5" />
                    </span>
                    <span class="font-medium text-gray-700">Lessons</span>
                </a>
            </li>

            <li class="group w-full">
                <a routerLink="/profile" routerLinkActive="bg-gray-300" class="flex items-center px-4 py-3 space-x-3 rounded-lg transition-all duration-200 hover:bg-gray-300">
                    <span class="p-2 rounded-md">
                        <img src="../../../assets/icons/book.svg" alt="profile" class="invert w-5 h-5" />
                    </span>
                    <span class="font-medium text-gray-700">My Profile</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="mt-auto border-t border-gray-300 w-full px-4 py-4">
        <div class="flex items-center space-x-3 hover:bg-gray-300 rounded-lg p-3 transition-all duration-200 cursor-pointer">
            <div class="w-8 h-8 rounded-full bg-gray-300 flex items-center justify-center">
                <img src="../../../assets/icons/profile.svg" alt="profile" class="invert w-5 h-5" />
            </div>
            <div class="flex flex-col">
                <span class="text-sm font-medium text-gray-700">{{ usrEmail }}</span>
                <span class="text-xs text-gray-500">Student</span>
            </div>
        </div>
    </div>
</aside>
